<!DOCTYPE HTML>
<html>
	<head>
		<title>Katara's: What and Where	</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />    
		<LINK REL=StyleSheet HREF="stylesheets/stylesheet.css" TYPE="text/css" MEDIA=screen>
	</head>
	

<header>  
<a href="https://www.facebook.com/KataraQatar"> <img class= "link1" src="images/facebook.png" alt="facebook" > </a>
<a href="https://twitter.com/kataraqatar"><img class="link2" src="images/twitter.png" alt="twitter" ></a>
<a href="http://www.youtube.com/user/kataraqatar?feature=results_main"> <img class="link3" src="images/youtube.png" alt="youtube" > </a>

<div id = "weather" align="center" style="width:120px;font-color:#ddd;font-weight:bold;margin:0px 0px 0px 0px;">
    <script src="http://www.weatherforecastmap.com/weather2001.php?zona=qatar_doha"></script>
    <div align="center" style="font-color:#ddd;font-weight:normal;"></div></div>
    
    <img src="images/landingpage2.png" alt="skyline"> 
</div>

</header>	<body>

	</tb></tb>
<table border="0">
<tr>
<td><a href="/items#activities"><img src="images/logos/Activity.png" alt="activity"></a>
<br><a href="/items#activities">Activities</a></td>
<td><a href="/items#communities"><img src="images/logos/Community.png" alt="communities"></a>
<br><a href="/items#communities">Communities</a></td>
</tr>
<tr>
<td><a href="/items#dining"><img src="images/logos/Dining.png" alt="dining"></a>
<br><a href="/items#dining">Dining & Cafe</a></td>
<td><a href="/items#activities"><img src="images/logos/Event.png" alt="events"></a>
<br><a href="/items#activities">Events</a></td>
</tr>
<tr>
<td><a href="/items#activities"><img src="images/logos/Service.png" alt="services"></a>
<br><a href="/items#activities">Services</a></td>
<td><img src="images/logos/Landmark.png" alt="landmark">
<br><a href="/items#activities">Landmarks</a></td>
</tr>
</table> 

	</nav>
 <div id="compass">
  <div id="login"> <a href= "/login">Admin login</a> </div>
  <a href="/maps/all"><img src="images/compass.png" alt="compass"></a></div> 

	</body>
</html>