<!DOCTYPE HTML>
<html>
	<head>
		<title>Katara's: What and Where	</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />    
		<LINK REL=StyleSheet HREF="stylesheets/stylesheet.css" TYPE="text/css" MEDIA=screen>
	</head>
	
 <a href= "/login">Admin login</a>


<header>  <img src="images/landingpage2.png" alt="skyline"> 
<a href="https://www.facebook.com/KataraQatar"> <img class= "link1" src="images/facebook.png" alt="facebook" > 
<a href="https://twitter.com/kataraqatar"><img class="link2" src="images/twitter.png" alt="twitter" >
<a href="http://www.youtube.com/user/kataraqatar?feature=results_main"> <img class="link3" src="images/youtube.png" alt="youtube" > 

</header>	<body>
	 <div id = "weather" align="center" style="width:20%; background:none;font-color:#ddd;font-weight:bold;margin:1% 1% 1% 1%;">
	<script src="http://www.weatherforecastmap.com/weather2000.php?zona=qatar_doha"></script>
	<div align="center" style="font-color:#ddd;font-weight:normal;"></div></div> 
	
	</tb></tb>
<table border="0">
<tr>
<td><a href="/items"><img src="images/logos/Activity.png" alt="activity"></a>
<br><a href="/items">Activities</a></td>
<td><a href="internalpageslist.html"><img src="images/logos/Community.png" alt="communities"></a>
<br><a href="internalpageslist.html">Communities</a></td>
</tr>
<tr>
<td><a href="internalpageslist.html"><img src="images/logos/Dining.png" alt="dining"></a>
<br><a href="internalpageslist.html">Dining & Cafe</a></td>
<td><a href="internalpageslist.html"><img src="images/logos/Event.png" alt="events"></a>
<br><a href="internalpageslist.html">Events</a></td>
</tr>
<tr>
<td><a href="internalpageslist.html"><img src="images/logos/Service.png" alt="services"></a>
<br><a href="internalpageslist.html">Services</a></td>
<td><img src="images/logos/Landmark.png" alt="landmark">
<br><a href="internalpageslist.html">Landmarks</a></td>
</tr>
</table> 

	</nav>
 <div id="compass"><a href="/maps/all"><img src="images/compass.png" alt="compass"></a></div> 

	</body>
</html>