<!DOCTYPE HTML>
<html>
	<head>
		<title>Katara's: What and Where	</title>
		 <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />    
		<LINK REL=StyleSheet HREF="stylesheets/stylesheet.css" TYPE="text/css" MEDIA=screen>
	</head>
	
<header>
<div id="media">
<img src="images/landingpage2.png" alt="skyline"> 
	<a href="https://www.facebook.com/KataraQatar"> <img class= "link1" src="images/facebook.png" alt="facebook" > </a>
	<a href="https://twitter.com/kataraqatar"><img class="link2" src="images/twitter.png" alt="twitter" ></a>
	<a href="http://www.youtube.com/user/kataraqatar?feature=results_main"> <img class="link3" src="images/youtube.png" alt="youtube" > </a>

	<div id = "weather" align="center" style="width:120px;font-color:#ddd;font-weight:bold;margin:0px 0px 0px 0px;">
	<script src="http://www.weatherforecastmap.com/weather2001.php?zona=qatar_doha"></script>
	</div> <!-- End of div weather --> 
</div> <!-- End of div media -->
</header>


<body>


<table border="1">
<tr>
<td><a href="/items"><img src="images/logos/Activities.png" alt="activity"></a></td>
<td><a href="/items#communitiesa"><img src="images/logos/Community.png" alt="community"></a></td>
</tr>
<tr>
<td><a href="/items#dininga"><img src="images/logos/Dining.png" alt="dining"></a></td>
<td><a href="/items#eventsa"><img src="images/logos/Event.png" alt="event"></a></td>
</tr>
<tr>
<td><a href="/items#landmarks"><img src="images/logos/Landmark.png" alt="landmark"></a></td>
<td><a href="/items#servicesa"><img src="images/logos/Service.png" alt="service"></a></td>
</tr>
</table>



</body>

<div id="compass">
  
  <a href="/maps/all"><img src="images/compass.png" alt="compass"></a>
</div>  <!-- end of div compass -->

	
</html>

