<!DOCTYPE HTML>
<html>
	<head>
		<title>Katara's: What and Where	</title>
		 <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>    
		<LINK REL=StyleSheet HREF="stylesheets/stylesheet.css" TYPE="text/css" MEDIA=screen>
	</head>
	
<header>
 

  
  
    <a href="/"><%= image_tag "landingpage3.png" %></a>
</header>


<body>

  <p> instructions on using the google map <br> bla bla <br> https://maps.google.com/?mid=1354447593 <br> user name: turath.katara ......etc</p>



</body>

<div id="compass">
  
  <a href="/maps/all"><img src="images/compass.png" alt="compass"></a>
</div>  <!-- end of div compass -->

	
</html>

