<!DOCTYPE HTML>
<html>
	<head>
		<title>Katara's: What and Where	</title>
		 <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>    
		<LINK REL=StyleSheet HREF="stylesheets/stylesheet.css" TYPE="text/css" MEDIA=screen>
	</head>
	
<header>
 

  
  
    <a href="/"><%= image_tag "landingpage3.png" %></a>
</header>


<body>

<br> <br>

  <div id="wrapper">
  <h1>Map Instruction</h1>
<h3>Instructions on editing the google map</h3>

   <p>  1. Go to <a href="http://maps.google.com/">Google Maps</a>  <br>
   2. Click on 'Sign in' button at the top right corner. <br>
   3. Sign in with <br>
   &nbsp; &nbsp; username- turath.katara <br>
  &nbsp; &nbsp; password- turath123 <br> </p>
   
  
  <h2>Editing Current Maps</h2>
  
  <p>1. click on 'my places' button on the top left corner. Once you click 'my places', link of all your maps will appear at the left bottom side of the page. <br>
  2. Click on the particular map you want to edit <br>
  3. Click on the 'Edit' button. Three icons will appear on top left corner of the map. <br>
	&nbsp; &nbsp;	a. To edit description and pictures of an item, click on the 1st icon. And then click on the placemark of the item you want to edit. A pop-up will appear. <br>
	&nbsp; &nbsp; &nbsp; &nbsp; i. Fill in the description [if any] and add pictures if available.<br>
	&nbsp; &nbsp; &nbsp; &nbsp; ii. Customize the placemark icon by clicking on it and choosing from the available placemarks or adding your own placemark. <br>
	&nbsp; &nbsp; &nbsp; &nbsp; iii. You can also change the location of an item by dragging and dropping the placemark.<br>
	&nbsp; &nbsp;	b. To add a new item on the map, click on the 2nd icon and drop it wherever you want the item to be on the map. Then follow the previous instruction<br>
	&nbsp; &nbsp;	c. To add routes within the map, click on the 3rd icon. Then draw lines from and to where you want the routes to be. <br>
    &nbsp; &nbsp;   d. To delete an item from the map, click on the placemark and click 'Delete' from the bottom left corner of the pop-up. <br>
  4. Click 'Save' and then 'Done' after the editing is complete.
  </p>
  
  <h2> Creating New Maps</h2>
  <p>To create a new map, click on 'My Places' and then click on 'Create Map'. You can add title and description of the map on the left side. And to add and edit items on the map follow the instructions of 
  'Editing current Maps' section</p> 

<div> <!--end of div wrapper -->

</body>

<div id="compass">
  
  <a href="/maps/all"><img src="images/compass.png" alt="compass"></a>
</div>  <!-- end of div compass -->

	
</html>

