// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#itemName, #desc, #building, #phone, #email, #website, #cat
{
padding:1%;
margin:2%;
}

#desc{
margin-top:2%;
}

#building img{
width:7%;
height:auto;
}

#phone img{
width:7%;
height:auto;

}

#email img{
width:7%;
height:auto;

}

#website img{
width:7%;
height:auto;

}

#desc img{
width:7%;
height:auto;
}


.button{
/* background-image: url('/images/button.png');
background-repeat:no-repeat; */
background:#C3C5C9; 
border:#C3C5C9 solid 1px;
border-radius:5px;
float:right;
margin-right:12%;
padding:1px 6px 1px 6px;
}

.button2{
background-image: url('texture.jpg'); 
border:#C3C5C9 solid 1px;
border-radius:5px;
float:left;
margin-right:2%;
padding:1px 6px 1px 6px;
}




p{
color:black;
}

#wrapper{
background:white;
opacity:0.6;
background-filter:alpha(opacity=60); 

}