html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
    background-image: url('background1.jpg');
  background-size: 100%;
  background-repeat:repeat-y;
}


h1 {
  font-size:36px;
  margin:15px;
  text-align:center;
  color:black;
}
h2 {
  font-size:14px;
  font-weight:bold;
  color:black;
  margin:20px 10px 10px;
}
small {
  margin:0 10px 30px;
  display:block;
  font-size:12px;
}
a {
  margin:0 0 0 0px;
  font-size:14px;
  color:#3c3c3c;
  text-decoration: none;
} 
.swipe {
  padding-bottom:20px;
}
.swipe li div, .swipe div div div {
  margin: 0 1%px;
  margin-top: 1%;
/* padding: 20px 20px; */
  color: white;
}


li
{
padding-bottom: 15px;
list-style-type: none;

}


#listhead
{
font-weight:bold;
text-align:center;
background-color:brown;
opacity:0.6;
/*background-filter:alpha(opacity=60); */
font-family:serif;
font-size:24px;
margin: 0 1%px;
  margin-top: 1%;
  padding: 20px 20px;
  color: white;
}

#activitiesa, #communitiesa, #servicesa, #landmarksa, #eventsa, #dininga
{
float: right;

}


#list
{
text-align:left;
color: black;
font-family:serif;
font-size:18px;
size: 100%;
margin-left: 3%;
height:100%;
}

div.scroll
{
width:90%;
height:100%;
overflow:scroll;
}

