
header img { width: 100%; }

body {
background-image: url('background1.jpg');
background-repeat: repeat-y;
background-size: 100%;
}


.link1{
position:absolute;
top:5%;
left:5%;
width:7%;
height:5%;

}

.link2{
position:absolute;
top:5%;
left:12%;
width:7%;
height:5%;
}

.link3{
position:absolute;
top:5%;
left:19%;
width:7.5%;
height:5.5%;

}

#weather{
position:absolute;
right:3%;
top: 4%;
margin:2%;
}


td
{

text-align: center;
font-family: sans-serif;
font-style: bold;
}

table, th{
    border: 0px;
    width: 100%;
    height: 100%;
        
}

td img
{
height:auto;
max-width:100%;

} 



#wrapper
{
  overflow:hidden;
}

#wrapper ul
{
  list-style:none;
  margin:0;
  padding:0;
  -webkit-transition: -webkit-transform 0.3s linear;
}

#wrapper ul li
{
  float:left;
}


#compass
{
text-align: center;
}

login
{
text-align: left;
}

#compass img
{
width: 40%;
float: center;
text-align: center;
}


Smartphones (portrait) ----------- @media only screen and (max-width : 320px) {

}
